// Variables

$color-alabaster: #fafafa;
$color-white: #fff;
$color-tundora: #444;
$color-fiord: #394263;
$color-mako: #3e454c;
$color-mercury: #e5e5e5;
$color-hippie-blue: #4aa;
$color-gray: gray;
$color-light-slate-gray: lightslategray;

$sidenav-width: 240px;
