/* Sass mixins */
html, body {
  font-family: 'Nunito', 'Helvetica Neue';
  position: relative;
  box-sizing: border-box;
  margin: 0;
  background-color: #fafafa;
  height: 100vh; }

/* Overall app wrapper */
.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px; }

/* Holds the recipe cards */
.card-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  grid-gap: 20px;
  width: 100%;
  padding: 20px; }

/* Modal for the recipe detail */
.recipe-modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  padding: 24px;
  z-index: 2;
  height: 400px;
  width: 90%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  border-radius: 6px;
  transform: translate(-50%, -50%); }

.hero-image {
  background-image: url("../img/home-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px; }

.recipe-card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  transition: all .3s ease;
  transform: scale(1); }
  .recipe-card__title {
    margin-bottom: 8px;
    font-size: 1.4rem;
    text-align: center; }
  .recipe-card__image {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden; }
  .recipe-card:hover {
    transform: scale(1.12);
    z-index: 1; }

.recipe-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px; }
