html, body {
  @include font-family-main;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  background-color: $color-alabaster;
  height: 100vh;
  color: $color-mako
}

/* Overall app wrapper */
.app-wrapper {
  @include flex-center;
  flex-direction: column;
  margin: 40px;
}

/* Holds the recipe cards */
.card-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
  grid-auto-rows: 334px;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  overflow-x: hidden;
}
